.hide{
    display: none;
}

.show{
    display: block;
}

main, input, button{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 1em;
} 

.form{
    display: grid;
    justify-content: center;
}

.ico{
    text-align: center;
}

.ico img{
    max-width: 60px;
    margin-bottom: 2.5em;
}

input{
    display: block;
    margin-bottom: 2em;
    border:none;
    border-bottom: solid 1px #d9d9d9;
    font-size: 1.1em;
    color: #333333;
}

input::placeholder{
    color: #9e9e9e;
}

input:focus{
    outline: none;
}

button{ 
    width: 100%;
    border: none;
    background: #068eeb;
    color: white;
    font-size: 1.1em;
    padding: 0.5em 3em;
    transition: 0.4s ease 0s;
}

button:hover{
    background: #066db3;
}

label{
    display: block;
    color: red;
    text-align: center;
    margin-top: 1.5em;
    transition: 0.5s ease 0s;
    font-size: 1.3em;
}

@media screen and (max-width:985px){
    .title{
        font-size: 6.5em;
        margin-bottom: 0.2em;
    }
    .ico img{
        max-width: 9em;
    }
    input{
        font-size: 3.3em;
    }
    button{
        font-size: 3.3em;
        padding: 0.3em 1em;
    }
    #login-loading{
        width: 100%;
    }
    label{
        font-size: 4em;
    }
}